div.box1 {
    width:400px;
    height: 350px;
    border-style: solid;
    position:absolute;
    background-color:rgb(255, 255, 255);
    column-span: 1;
    left:25px;
    top:25px;
    z-index:26;
    
}

div.box2 {
    width:400px;
    height:400px;
    border-style: solid;
    position:absolute;
    background-color:rgb(255, 255, 255);
    left: 300px;
    top: 200px;
    z-index: 27;
}

div.box3 {
    width:700px;
    height:200px;
    border-style: solid;
    position:absolute;
    background-color:rgb(255, 255, 255);
    left:75px;
    top:500px;
    z-index: 28;
}
div.box4 {
    width:200px;
    height:600px;
    border-style: solid;
    position:absolute;
    background-color:rgb(255, 255, 255);
    right:100px;
    top:25px;
    z-index: 29;
}